@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --neutral-almost-white: hsl(0, 0%, 98%);
    --netural-Medium-Gray: hsl(0, 0%, 41%);
    --netural-Almost-Black: hsl(0, 0%, 8%);

    --ff-body: 'Epilogue', sans-serif;
    --fw-medium:500;
    --fw-bold:700;
}
html,body{
    height:100%;
}
img,svg{
    display: block;
    max-width: 100%;
}
ul{
    list-style-type: none;
}
body{
    background-color: var(--neutral-almost-white);
    width: 100%;
    font-size: 1.125rem;
    font-family: var(--ff-body);
}
header{
    padding: 1rem 4.6rem;
    max-width: 100%;
    z-index: 22222222222;
}
header nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2.5rem;
    padding: 1.5rem 0;
}
nav .navlist{
    flex: 1 0 ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}
.logo_with_icons{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav a.logo{
    cursor: pointer;
    margin-right: 1.25rem;
    
}
.navlist .list>li{
    display: inline-block;
}
.navlist .list>li{
    margin:0 1.75rem;
    position: relative;
}

.navlist .list li a[data-icon="arrow"]::before{
    content: " ";
    background: url('/images/icon-arrow-down.svg');
    position: absolute;
    top: 30%;
    left: 110%;
    width: 10px;
    height: 10px;
    background-repeat: no-repeat;
    background-size: contain;
}
.list li.link1 a[data-icon="arrow"].down::before{
    background: url('/images/icon-arrow-up.svg');
    background-repeat: no-repeat;
}
.list li.link2 a[data-icon="arrow"].down::before{
    background: url('/images/icon-arrow-up.svg');
    background-repeat: no-repeat;
}
.navlist .list>li:nth-child(1) ul{
    position: absolute;
    display: none;
    top: 30px;
    left: -60%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 1rem 2rem 1rem 2rem;
    border-radius: 0.625rem;
    -webkit-border-radius: 0.625rem;
    -moz-border-radius: 0.625rem;
    -ms-border-radius: 0.625rem;
    -o-border-radius: 0.625rem;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}
.navlist .list>li:nth-child(1) ul li {
    margin: 10px auto;
}
.navlist .list>li:nth-child(1) ul li a{
    font-size: 0.875rem;
    padding-bottom: 0.5rem;
    padding-left: 0.5rem;
}
.submenu li a{
    position: relative;
    display: block;
}
.submenu li a[data-icon="todo"]::before{
    content: " ";
    background: url("/images/icon-todo.svg");
    background-repeat: no-repeat;
    position: absolute;
    top: -8%;
    left: -20px;
    width: 20px;
    height: 20px;
    margin-right: 20px;
}
.submenu li a[data-icon="calendar"]::before{
    content: " ";
    background: url("/images/icon-calendar.svg");
    background-repeat: no-repeat;
    position: absolute;
    top: -8%;
    left: -20px;
    width: 20px;
    height: 20px;
}
.submenu li a[data-icon="reminders"]::before{
    content: " ";
    background: url("/images/icon-reminders.svg");
    background-repeat: no-repeat;
    position: absolute;
    top: -8%;
    left: -20px;
    width: 20px;
    height: 20px;
    margin-right: 20px;
}
.submenu li a[data-icon="planning"]::before{
    content: " ";
    background: url("/images/icon-planning.svg");
    background-repeat: no-repeat;
    position: absolute;
    top: -8%;
    left: -20px;
    width: 20px;
    height: 20px;
    margin-right: 20px;
}

.navlist .list>li:nth-child(2) ul{
    position: absolute;
    display: none;
    top: 30px;
    left: -5%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 1rem 2rem 1rem ;
    width: max-content;
    border-radius: 0.625rem;
    -webkit-border-radius: 0.625rem;
    -moz-border-radius: 0.625rem;
    -ms-border-radius: 0.625rem;
    -o-border-radius: 0.625rem;
}
.navlist .list>li:nth-child(2) ul li {
    margin: 10px auto;
}
.navlist .list>li:nth-child(2) ul li a{
    font-size: 0.9375rem;
    padding-bottom: 0.5rem;
}
.navlist .list li >a{
    position: relative;
    text-decoration: none;
    font-size: 1rem;
    color: var(--netural-Medium-Gray);
    display: block;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}
.navlist .list li>a:is(:hover,:focus){
    color: var(--netural-Almost-Black);
}
.navlist .list li > .submenu.show{
    display: block;
}
.navlist .list li> .submenu2.show{
    display: block;
}
.buttons{
    display: flex;
    gap: 1.875rem;
    align-items: center;
}
.buttons button{
    background: transparent;
    border: none;
    font-family: var(--ff-body);
    color: var(--netural-Medium-Gray);
    font-size: 0.9375rem;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    cursor: pointer;
}
.buttons .btn-primary{
    padding: 0.6rem 1rem;
    border: 1px solid var(--netural-Medium-Gray);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.buttons button:is(:hover,:focus){
    color: var(--netural-Almost-Black);
}
nav .icons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2222;
    display: none;
}
nav .icons .close{
    display: none;
}
@media screen and (min-width:300px) and (max-width:768px){

    body.shadow::before{
        content: "";
        background:rgba(0, 0, 0, 0.5);
        background-blend-mode: darken;
        position: absolute;
        width: 100%;
        height: calc(100% + 200px);
        inset: 0;
        z-index: 1;
    }
    header{
        padding: 1rem 1.1rem;
        z-index: 999999;
    }
    header nav{
        display: grid;
        align-items: center;
        grid-template-columns: 1fr ;
        gap: 0.625rem;
        padding: 1.5rem 0;
    }
    .navlist{
        display: none !important;
        
}
    .navlist.show{
        display: flex !important;
        flex-direction: column;
        gap: 0;
        width: 60%;
        position: absolute;
        background-color: var(--neutral-almost-white);
        padding: 1.5rem 1.5rem 1.5rem 1.5rem;
        height: calc(100% + 200px);
        inset: 0 0  0 40%;
        transition:  all .4s;
        -webkit-transition:  all .4s;
        -moz-transition:  all .4s;
        -ms-transition:  all .4s;
        -o-transition:  all .4s;  
        z-index: 99;  
    }
    nav .icons {
        display: block !important;
        z-index: 9999999999999999999999999999;
    }
    nav .icons .close.show{
        display: block ;
    }
    nav .icons .menu.hide{
        display: none;
    }
    .navlist .list>li{
        display: block;
        margin:1.75rem 0;
        position: relative;
    }
    .navlist .list>li:nth-child(1) ul{
        position: relative;
        inset: 10px 0 10px 50px;
        box-shadow: none;
        padding:0;
        border-radius: 0;
    -webkit-border-dius: 0.;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    margin-bottom: 1.25rem;
    }
    .navlist .list>li:nth-child(2) ul{
        position: relative;
        display: none;
        inset:  10px 0 10px 50px;
        box-shadow: none;
        padding: 0 ;
        width: max-content;
        border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    margin-bottom: 1.25rem;
    }
    .navlist .list li a[data-icon="arrow"]::before{
        top: 30%;
        left: 109%;
    }
    .navlist .list>li:nth-child(1) ul li a{
        font-size: 16px;
        padding-bottom: 0.5rem;
        padding-left: 0.5rem;
    }
    .navlist .list>li:nth-child(2) ul li a{
        font-size: 1rem;
        padding-bottom: 0.5rem;
        padding-left: 0.5rem;
    }
    .list{
        align-self: flex-start;
        margin-top: 30%;
    }
    .buttons{
        flex-direction: column;
        margin-top: 1rem;
        align-self: center;
        gap: 1rem;
        flex: 1 0;
        text-align: left;
    }
    .buttons .btn-primary{
        padding: .8rem 1rem;
        width: 180px;
        border: 1px solid var(--netural-Medium-Gray);
        border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
}
@media screen and (min-width:769px) and (max-width:992px){
    header{
        padding: 1rem 2rem;
    }
    header nav{
        gap: 1.5rem;
    }
    .navlist .list>li{
        margin:0 0.9375rem;
    }
}
/* --------start-hero-section---------- */
.hero{
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 117px);
}
.hero .container{
    display: grid;
    max-width: 1100px;
    gap: 5rem;
    grid-template-columns: 1fr 1fr;
}
.hero .container .img__container{
    order: 1;
    
}
.hero .container .Content{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.hero .container .Content h1{
    font-size: 4rem;
    font-weight: var(--fw-bold);
}
.hero .container .Content p{
    font-size: 1.2rem;
    color: var(--netural-Medium-Gray);
    line-height: 1.8;
}
.hero .container .Content button{
    width: 160px;
    background-color: var(--netural-Almost-Black);
    color: var(--neutral-almost-white);
    border: none;
    padding: 0.9rem 1rem;
    border-radius: 0.9375rem;
    -webkit-border-radius: 0.9375rem;
    -moz-border-radius: 0.9375rem;
    -ms-border-radius: 0.9375rem;
    -o-border-radius: 0.9375rem;
    font-weight: var(--fw-bold);
    font-size: 1rem;
    transition: all .4s ease-in-out;
    cursor: pointer;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
}
.hero .container .Content button:hover{
    color: var(--netural-Almost-Black);
    background-color: transparent;
    outline: 1px solid var(--netural-Almost-Black);
}
.hero .container .Content .logos{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
@media screen and (min-width:769px) and (max-width:992px){
    .hero .container{
        gap: 2rem;
        padding: 1rem;
    }
    .hero .container .Content h1{
        font-size: 3rem;
    }
    .hero .container .Content p{
        font-size: 1rem;
    }
}
@media screen and (min-width:577px) and (max-width:768px){
        .hero{
            align-items: flex-start;
        }
        .hero .container{
            display: flex;
            flex-direction: column-reverse;
        }
        .hero .Content{
            align-items: center;
            text-align: center;
            gap: 2rem;
            padding: 1rem;
        }
        .hero .Content h1{
            font-size: 2.9rem !important;
        }
        .hero .Content h1 br{
            display: none;
        }
        .hero .Content p{
            font-size: 1.3rem !important;
            margin: 0 auto;
        }
        .hero .Content .logos{
            width: 100%;
            padding-inline: 1rem;
        }
}
@media screen and (min-width:300px) and (max-width:576px){
        .hero{
            align-items: flex-start;
        }
        .hero .container{
            display: flex;
            flex-direction: column-reverse;
        }
        .hero .Content{
            align-items: center;
            text-align: center;
            gap: 2rem;
            padding: 1rem;
        }
        .hero .Content h1{
            font-size: 2.2rem !important;
        }
        .hero .Content h1 br{
            display: none;
        }
        .hero .Content p{
            font-size: 1rem !important;
            margin: 0 auto;
        }
        .hero .Content .logos{
            width: 100%;
            padding-inline: 1rem;
            flex-wrap: wrap;
        }
}

/* -------end-hero-section---------- */